@import "src/theme/theme-variables";

.navbar {
  background-color: $blue;
  position: fixed;
  z-index: 3;
  width: 100%;
  img {
    width: 43px;
    height: 36px;
    border-radius: 50%;
  }
  .username {
    font-size: 13px;
  }
  .nav-link.dropdown-toggle {
    cursor: pointer;
  }
}
