<footer class="footer">
  <div class="container pt-5">
    <div class="row text-center">
      <div class="col-4 col-md">
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">News</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Events</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">About</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact Us</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Complain</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Subscribe to Newsletter </a></li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">
              <div class="mb-3" style="position: relative">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address" />
                <button class="btn btn-primary">Submit</button>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Follow us on</a></li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-linkedin"></i>
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-line p-2">All right reserved - Link Development Company @ 2020</div>
</footer>
